* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #ffffff;
    font-size: 1.2rem;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0px;
    width: 800px;
    height: 400px;
    object-fit: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    color:#333333;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: underline;
}

.game {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gameBoard {
    position: relative;
    display: flex;
    margin: 10px;
}

.gameOptions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
}

.buildings, .objectOptions, .chatButton {
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: auto;
    border: 1px solid #1be393;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.chatButton:hover {
    background-color: #1be393;
    transition: 1s;
    cursor: pointer;
}

.buildings {
    display: inline-flex;
    flex: 1 auto;
    flex-wrap: wrap;
    max-width: 250px;
}

.buildingPrototype {
    margin: 5px;
}

.objectOptions {
    flex: 1 auto;
    width: 300px;
}

.logs {
    flex: 6 auto;
}

.chatButton {
    flex: 1 auto;
}

.resources {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
}

.resources ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    border-bottom: 1px solid #ffee00;
}

.resources ul > li {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 160px;
}

.resources ul > li > img {
    width: 32px !important;
    height: 32px !important;
}

.resources ul > li > span {
    flex: 4 auto;
    text-align: center;
}

.chat {
    position: absolute;
    background-color: #333333;
    margin: 20px;
    color: #ffffff;
    width: 40vw;
}

.chat input, .lobby input {
    outline: none;
    font-size: 1.0rem;
    padding: 0 5px;
}

button {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 3px 15px;
    color: white;
    line-height: 20px;
    background-color: #1be393;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
}

button:hover {
    background-color: #083a8a;
}

.chat ul, .logs ul {
    list-style: none;
    overflow-y: scroll;
}

.chat ul > li, .logs ul > li {
    padding: 5px;
    margin: 0px 5px;
    border-bottom: 1px solid #bababa;
    white-space: normal;
    word-wrap: break-word;
}

.chat-wrapper {
    padding: 10px;
}

.chat-wrapper form {
    display: flex;
}
  
.chat-wrapper form input {
    width: 300px;
    font-size: 1.0rem;
    margin: 0 10px 0 0;
    padding: 0 5px;
    flex-grow: 1;
}
  
.chat-wrapper form button {
    width: 100px;
}

.error {
    position: absolute;
    transform: translate(0, 20vh);
    padding: 10px;
    text-align: center;
    border: 1px solid #1be393;
    background-color: #b82117;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#events {
    height: 30vh;
}

.logs {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #1be393;
    border-radius: 20px;
}
#logsList {
    height: 148px;
    list-style: none;
    overflow-y: scroll;
}

.errorMsg {
    color:#ff0000;
}

.buildingsTip {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #022919;
    background-color: #1be393;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    z-index: 1000;
    position: absolute;
}

.buildingsTipResource {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #000000;
    text-align: center;
    font-weight: bold;
    z-index: 2000;
}
